<IfModule mod_rewrite.c>
    RewriteEngine On

    # to https
    RewriteCond %{HTTP_HOST} ^rokops.fi [NC,OR]
    RewriteCond %{HTTP_HOST} ^www.rokops.fi [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

    # to react index
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /$1 [L]

</IfModule>
